<div class="pt-4 pl-5 mb-3">
  <div class="row">
    <div class="col col-sm-12 pr-5">
      <div class="card bg-light mb-3 shadow">
        <div class="card-header">
          <strong>{{ title }}</strong>
        </div>
        <div class="card-body">
          <form [formGroup]="actionCreateForm" autocomplete="off" novalidate>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <div class="col-md-8">
                    <input
                      type="text"
                      class="form-control"
                      id="clientId"
                      type="text"
                      placeholder="Client ID (required)"
                      formControlName="clientId"
                      [ngClass]="{
                        'is-invalid':
                          (actionCreateForm.get('clientId').touched ||
                          actionCreateForm.get('clientId').dirty) &&
                          !actionCreateForm.get('clientId').valid
                      }"
                    />
                    <span class="invalid-feedback">
                      <span *ngIf="actionCreateForm.get('clientId').errors?.required">
                        Please enter client id.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <div class="col-md-8">
                    <input
                      type="text"
                      class="form-control"
                      id="clientName"
                      type="text"
                      placeholder="Client Name (required)"
                      formControlName="clientName"
                      [ngClass]="{
                        'is-invalid':
                          (actionCreateForm.get('clientName').touched ||
                          actionCreateForm.get('clientName').dirty) &&
                          !actionCreateForm.get('clientName').valid
                      }"
                    />
                    <span class="invalid-feedback">
                      <span *ngIf="actionCreateForm.get('clientName').errors?.required">
                        Please enter client name.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="p-3 mb-2">
              <strong>Action Steps</strong><hr class="linecolor">
            </div>
            <div class="row" formArrayName="stepsArray" *ngFor="let steps of stepsArrayGroup.controls; let i = index" style="border: 1px solid grey">
              <label for="step" class="col-md-8 col-form-label step"><strong>STEP {{ i }}</strong></label>
              <div class="col-11" [formGroupName]="i">
                <div class="form-group">
                  <app-action-steps [stepCounter]="i" formControlName="actionStepsForm"></app-action-steps>
                </div>
              </div><hr>
              <div class="col-1">
                <div class="form-group">
                  <button
                    class="btn btn-danger float-right mt-3"
                    title="delete"
                    (click)="removeStep(i)"
                  >
                    <i class="fa-fa-window-close"></i>Delete
                  </button>
                </div>
              </div>
            </div>
            
            <div class="row p-3">
              <button class="btn btn-primary float-right" (click)="addStep()">
                Add Step
              </button>
            </div>
            <div class="row">
              <div class="col-6">
                <button class="btn btn-primary float-left" type="reset" (click)="resetForm()">
                  CLEAR
                </button>
              </div>
              <div class="col-6">
                <button class="btn btn-primary float-right" type="submit" [disabled]="!actionCreateForm.valid" (click)="submitForm()">
                  SUBMIT
              </button>
            </div>
            </div>
            <p-confirmDialog
              appendTo="body"
              header="Confirmation"
              icon="fa fa-question-circle"
              width="425"
              height="425"
              #cd
            >
              <p-footer>
                <button
                  type="button"
                  class="btn btn-danger"
                  icon="fa fa-close"
                  label="No"
                  (click)="cd.reject()"
                >
                  No
                </button>
                <button
                  type="button"
                  class="btn btn-success"
                  icon="fa fa-check"
                  label="Yes"
                  (click)="cd.accept()"
                >
                  Yes
                </button>
              </p-footer>
            </p-confirmDialog>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
